#container{
	width: 500px;
	border: 1px solid grey;
	margin: 0 auto;
	padding: 20px;
	clear: both;
	height: 400px;
}

.inner_div{
	width: 100px;
	height: 50px;
	padding: 5px;
 }
 
.red{
	background-color: red;
}

.green{
	background-color: green;
	float: right;
}
.yellow{
	background-color: yellow;
	float: left;
    padding: 20px;
}